[id="Y3510086827"].page {
	min-height: var(--viewport-height);
}

[id="Y3510086827"] .page-content {
	align-items: flex-start;
}
.typewriter {
  font-family: serifNewsreader;
  font-size: 1.5rem;
  color: #f7f5f2; /* accent color */
	font-weight: 300;
	font-style: normal;
}

.sentence {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #fa9f6a; /* cursor */
  width: 0;             /* start hidden */
  opacity: 0;           /* start invisible */
  animation: typing 3s steps(60, end) forwards, blink 0.75s step-end infinite, fadeIn 0.01s forwards;
}

/* Stagger animations for each sentence */
.sentence:nth-child(1) { animation-delay: 0s, 0s, 0s; }
.sentence:nth-child(2) { animation-delay: 3.5s, 0s, 3.5s; }
.sentence:nth-child(3) { animation-delay: 7s, 0s, 7s; }

/* Typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Cursor blink */
@keyframes blink {
  0%, 100% { border-color: transparent; }
  50% { border-color: #fa9f6a; }
}

/* Fade in sentence at start of typing */
@keyframes fadeIn {
  to { opacity: 1; }
}


